USE [master]
GO
/****** Object:  Database [EmployeesDb]    Script Date: 1/22/2023 9:29:58 PM ******/
CREATE DATABASE [EmployeesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALSERVER\MSSQL\DATA\sEmployeeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALSERVER\MSSQL\DATA\sEmployeeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesDb]
GO
/****** Object:  Table [dbo].[EmployeeCreatedEvents]    Script Date: 1/22/2023 9:29:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeCreatedEvents](
	[Id] [bigint] NOT NULL,
	[OccurredOn] [datetimeoffset](7) NOT NULL,
	[State] [tinyint] NOT NULL,
	[ProcessedOn] [datetimeoffset](7) NULL,
	[Data] [varchar](1024) NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EmployeeCreatedEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/22/2023 9:29:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[BirthDate] [datetimeoffset](7) NOT NULL,
	[PhoneNumber] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[AccountNumber] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
